@font-face {
    font-family: 'Heebo-Light';
    src: url("../../assets/font/Heebo-Light.ttf");
}
@font-face {
    font-family: 'Heebo-Bold';
    src: url("../../assets/font/Heebo-Bold.ttf");
}

