@font-face {
    font-family: 'Comic Sans MS';
    src: url("../../assets/font/Comic\ Sans\ MS.ttf");
}
@font-face {
    font-family: 'Comic Sans MS Bold';
    src: url("../../assets/font/Comic\ Sans\ MS\ Bold.ttf");
}

