 .paragraph, .main-title{
    color: $clr1;
 }
 .paragraph{
    margin: 1.5rem 0px;
 }
 .MuiButton-disableElevation {
     width: 21.875rem;
 }
.main-title{
   margin-top: 1.25rem;
}
.media-details{
    margin-right: 2.3rem;
 }
