* {
  box-sizing: border-box;
}
::selection {
  background-color: $clr1;
  color: $clr5;
}

html {
  font-family: 'Heebo-Light';
  font-size: 17px;
  letter-spacing: 1.5px;
  color: $clr5;
  line-height: 1.6;
}

body {
  margin: 0;
  background-color: $clr5;
  color: $clr2;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo-Bold';
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0.6em;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
input,
select,
a,
button {
  cursor: pointer;
}
iframe{
  max-width: 100vw;
  max-height: 100vh;
}
//PURCHASE BUTTON
.MuiButton-root{
  max-width: 340px;
  min-height: 57px;
}
iframe{
  border: none;
  width: 90%;
}
.arrow-icon{
  margin-right: 20px;
}